body {
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
button {
  padding: 0 !important;
  margin: 0 !important;
}
.main .list ul li {
  position: relative;
}
.main .list ul li .shopping {
  border-bottom: 0;
  position: relative;
}
.main .list ul li .shopping .detail {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  font-size: 0.74667rem;
}
.main .list ul li .shopping .detail a {
  text-decoration: none;
  line-height: 2.13333rem;
  font-weight: 900;
}
.main .list ul li .shopping .detail a .arrow {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 2.13333rem;
  margin-left: 6px;
}
.main .list ul li .label {
  position: absolute;
  background: #ffdf25;
  top: 0.5rem;
  left: 0;
  color: #3e3e3e;
  font-size: 0.74667rem;
  padding: 0.3rem;
}
.main .list ul li .items .lh2 {
  line-height: 2.13333rem;
}
.main .list ul li .col-20 a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 900;
}
.main .searchBox .search .ui-input-text {
  margin: 0;
}
.bargain .bargainSwitch .cBox > p {
  padding: 0 0.8rem 0.8rem;
  font-size: 0.74667rem;
}
.bargain .bargainSwitch .cBox .priceRecordList {
  padding: 0.5rem 0.8rem;
}
.bargain .bargainSwitch .cBox .priceRecordList > table {
  font-size: 0.74667rem;
  width: 100%;
}
.bargain .bargainSwitch .cBox .priceRecordList > table thead td {
  background: #fa854b;
  width: 33.33333%;
  color: white;
}
.bargain .bargainSwitch .cBox .priceRecordList > table td {
  padding: 0.3rem 0.1rem;
  text-align: center;
}
.bargain .bargainSwitch .titles {
  background: #cecece;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 20px;
}
.bargain .bargainSwitch .titles > a {
  width: 100%;
}
.bargain .bargainSwitch .titles .item.on {
  background: #202229;
  color: #f87b3d;
}
.bargain .e-detail {
  font-size: 0.74667rem;
  padding: 0.8rem;
}
.bargain .userBox .c {
  padding-left: 0.8rem;
  line-height: 1;
  margin-bottom: 20px;
}
.bargain .banner .btn-wrap {
  position: absolute;
  top: 40%;
  width: 100%;
}
.footer {
  background: #202229;
  padding: 0.8rem 0.8rem 0.4rem;
}
.footer .col-50 a {
  text-decoration: none;
  color: #f87b3d;
  line-height: 34px;
}
.footer .col-50.soc {
  text-align: right;
}
.footer .col-50.soc img {
  height: 34px;
  margin-left: 15px;
}
.footer .col-50.footer-col > p {
  color: #ffffff;
}
.footer .col-50.footer-col > p:first-child {
  font-size: 0.7rem;
  margin-bottom: 2px;
}
.footer .col-50.footer-col > p:last-child {
  font-size: 1rem;
}
.footer .col-50.footer-col .orange {
  color: #f87b3d;
}
.coupon div.pic {
  position: relative;
}
.coupon div.pic .msg-wrap {
  position: absolute;
  top: 0;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}
.coupon div.pic .msg-wrap .msg {
  padding: 0.3rem;
  color: #ffffff;
  background: #fa854b;
}
.col-20,
.col-50,
.col-80 {
  float: left;
}
.col-20 {
  width: 20%;
}
.col-50 {
  width: 50%;
}
.col-80 {
  width: 80%;
}
.default-btn {
  background: none;
  color: #333;
  padding: 0.3rem 0.8rem !important;
  font-size: 0.74667rem;
  border-radius: 3px;
  border: 1px solid #aeaeae;
}
.main-btn {
  background: #fa854b;
  color: #ffffff;
  padding: 0.3rem 0.8rem !important;
  font-size: 0.74667rem;
  border-radius: 3px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.modal-header {
  text-align: right;
  padding: 5px 15px;
}
.modal-header button {
  background: none;
}
